.gallery{
    display: flex;
    .gallery__container-title{
      position: relative;
        width: 50%;
        .gallery__container-title__title{
          position: sticky;
          top: 60px;
          font-family: $display-font;
          &::after{
            content: url('/Assets/images/min-ellipse.svg');
            position: absolute;
            top: -0.5em;
            left: 1em;
          }
        }
    }

    .gallery__items{
        border-left: 1px solid $white;
        width: 50%;

        .gallery__items__item{
                font-family: $p-font;
                margin-bottom: 4em;


            .gallery__items__item__img-filter-container{
                display: flex;

                .gallery__items__item__img-filter-container__filter-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: flex-start;
                    width: 100%;

                    .gallery__items__item__img-filter-container__filter-container__filter{
                      margin: 2em;
                    }
                    .gallery__items__item__img-filter-container__filter-container__filter:first-child{
                      margin-top: 1em;
                    }
                }
            }

            .gallery__items__item__text{
              width: 80%;
              line-height: 1.3;
            }


            h3{
                margin: 2em 2em 1em 1em;
            }

            p{
                margin: 0 2em 2em 1em ;
            }

        }


    }



}
