.main-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 20em 0 5em 0;
  main{
    position: relative;
    width: 55em;
    text-align: center;
    p{
      margin: 1em;
      font-family: $p-font;
      font-size: $p-font;
      font-weight: 300;
      line-height: 1.3;
    }
    .main-info__pattern{
      position: absolute;
      top: calc((-50%) + 10%);
      left: 50%;
      transform: translate(-50%);
    }
    #pattern2{
      transform: translate(-50%) rotate(20deg);
    }
  }
  .main-info__scroll-down img{
    animation: bouncing 1s ease-in-out infinite alternate;
  }
  @keyframes bouncing {
    from{
      transform: translateY(1.3em);
    }
    to{
      transform: translateY(0);
    }
  }
}
