.main-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 20em 0 5em 0;
  main{
    position: relative;
    width: 47em;
    text-align: center;
    p{
      margin: 1em;
      font-family: $p-font;
      font-size: $p-font;
      font-weight: 300;
    }
    .main-info__pattern{
      position: absolute;
      top: calc((-50%) + 10%);
      left: 50%;
      transform: translate(-50%);
    }
    #pattern2{
      transform: translate(-50%) rotate(20deg);
    }
  }
}
