html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: NewYork;
  src: url(/Assets/images/font/NewYork\ PERSONAL\ USE.otf);
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  color: #EDEDED;
}

h2 {
  font-size: 4em;
  margin-left: 1em;
}

h3 {
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 1em, "Arial", sans-serif;
}

button {
  position: relative;
  border: 0;
  background: none;
  color: #EDEDED;
  cursor: pointer;
}
button::after {
  content: url("/Assets/images/sm-ellipse.svg");
  position: absolute;
  bottom: -100%;
  left: 0;
}
button:hover {
  transform: rotate(30deg);
}

.wrapper {
  margin: 0 128px;
  border-right: 1px solid #EDEDED;
  border-left: 1px solid #EDEDED;
}

#mycanvas {
  display: none;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero__line {
  position: absolute;
  width: 1px;
  height: 130%;
  top: 0;
  left: 50%;
  background-color: #EDEDED;
}
.hero .hero__centered-elt {
  position: relative;
}
.hero .hero__centered-elt .hero__centered-elt__image {
  max-width: 25em;
  border-top-left-radius: 20em;
  border-top-right-radius: 20em;
}
.hero .hero__centered-elt .hero__centered-elt__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 8em;
  font-family: NewYork;
  text-transform: uppercase;
  line-height: 1.3;
  background-color: #171717;
}
.hero .hero__centered-elt .hero__centered-elt__floating-elt .hero__centered-elt__floating-elt__img {
  border-top-left-radius: 15em;
  border-top-right-radius: 15em;
  border-bottom-left-radius: 15em;
  border-bottom-right-radius: 15em;
  min-width: 3em;
  min-height: 4em;
  background-size: cover;
}
.hero .hero__centered-elt .hero__centered-elt__floating-elt #floating-elt__img1 {
  position: absolute;
  top: 0;
  left: -20em;
  max-width: 15em;
  width: 12em;
  height: 19em;
  background-image: url("/Assets/images/Illus-header/Portrait_Monet.jpg");
}
.hero .hero__centered-elt .hero__centered-elt__floating-elt #floating-elt__img2 {
  position: absolute;
  bottom: -8em;
  left: -12em;
  width: 5em;
  height: 9em;
  background-image: url("/Assets/images/Illus-header/Sketch.jpg");
}
.hero .hero__centered-elt .hero__centered-elt__floating-elt #floating-elt__img3 {
  position: absolute;
  top: -6em;
  right: -15em;
  width: 9em;
  height: 15em;
  background-image: url("/Assets/images/Illus-header/La_lecture_Manet.jpg");
  background-position: center;
}
.hero .hero__centered-elt .hero__centered-elt__floating-elt #floating-elt__img4 {
  position: absolute;
  bottom: -15em;
  right: -15em;
  width: 8em;
  height: 14em;
  background-image: url("/Assets/images/Illus-header/Adam_Dieu_Michelangelo(1).jpg");
  background-position: center;
}

.gallery {
  display: flex;
}
.gallery .gallery__container-title {
  position: relative;
  width: 50%;
}
.gallery .gallery__container-title .gallery__container-title__title {
  position: sticky;
  top: 60px;
  font-family: NewYork;
}
.gallery .gallery__container-title .gallery__container-title__title::after {
  content: url("/Assets/images/min-ellipse.svg");
  position: absolute;
  top: -0.5em;
  left: 1em;
}
.gallery .gallery__items {
  border-left: 1px solid #EDEDED;
  width: 50%;
}
.gallery .gallery__items .gallery__items__item {
  font-family: "Montserrat";
  margin-bottom: 4em;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__img-filter-container {
  display: flex;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__img-filter-container .gallery__items__item__img-filter-container__filter-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__img-filter-container .gallery__items__item__img-filter-container__filter-container .gallery__items__item__img-filter-container__filter-container__filter {
  margin: 2em;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__img-filter-container .gallery__items__item__img-filter-container__filter-container .gallery__items__item__img-filter-container__filter-container__filter:first-child {
  margin-top: 1em;
}
.gallery .gallery__items .gallery__items__item .gallery__items__item__text {
  width: 80%;
  line-height: 1.3;
}
.gallery .gallery__items .gallery__items__item h3 {
  margin: 2em 2em 1em 1em;
}
.gallery .gallery__items .gallery__items__item p {
  margin: 0 2em 2em 1em;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 20em 0 5em 0;
}
.main-info main {
  position: relative;
  width: 55em;
  text-align: center;
}
.main-info main p {
  margin: 1em;
  font-family: "Montserrat";
  font-size: "Montserrat";
  font-weight: 300;
  line-height: 1.3;
}
.main-info main .main-info__pattern {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%);
}
.main-info main #pattern2 {
  transform: translate(-50%) rotate(20deg);
}
.main-info .main-info__scroll-down img {
  animation: bouncing 1s ease-in-out infinite alternate;
}
@keyframes bouncing {
  from {
    transform: translateY(1.3em);
  }
  to {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
