body{
    background-color: $black;
    color: $white;
}

h3{
    font-size: $h3;
    margin: 1em 0 ;
}


.gallery{
    display: flex;
    .gallery__container-title{
        width: 50%;
    }

    .gallery__items{
        border-left: 1px solid $white;
        width: 50%;

        .gallery__items__item{
                margin-bottom: 4em;


            .gallery__items__item__img-filter-container{
                display: flex;

                .gallery__items__item__img-filter-container__filter-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 4em;
                }
            }

            
        }

        
    }

    

}

