html{
  scroll-behavior: smooth;
}
body{
    background-color: $black;
    color: $white;
}

h2{
    font-size: $h2;
    margin-left: 1em;
}

h3{
    font-size: $p;
    font-family: $p-font;
    font-weight: bold;
}

p{
    font-family: $p-font;
    font-size: $p;
}

button{
  position: relative;
  border: 0;
  background: none;
  color: $white;
  cursor: pointer;
  &::after{
    content: url('/Assets/images/sm-ellipse.svg');
    position: absolute;
    bottom: -100%;
    left: 0;
  }
}


.wrapper{
    margin: 0 $wrapper;
    border-right: 1px solid $white;
    border-left: 1px solid $white;
}

#mycanvas {
  display:none;
}
