body{
    background-color: $black;
    color: $white;
}

h2{
    font-size: $h2;
    margin-left: 1em;
}

h3{
    font-size: $p;
    font-family: $p-font;
    font-weight: bold;
}

p{
    font-family: $p-font;
    font-size: $p;
}




.wrapper{
    margin: 0 $wrapper;
    border-right: 1px solid $white;
    border-left: 1px solid $white;
}
