
/////////////////// COULEURS ///////////////////////

$black : #171717;
$white : #EDEDED;

/////////////////// COULEURS /////////////////////

$display-font : 'NewYork';

///////////////MARGIN///////////////////////////

$wrapper: 128px;
