
/////////////////// COULEURS ///////////////////////

$black : #171717;
$white : #EDEDED;

///////////////MARGIN///////////////////////////

$wrapper: 128px;


/////////////////SIZE/////////////////////////

$p: 1em;
$h2: 4em;
///////////////TEXT///////////////////////////
@font-face {
  font-family: NewYork;
  src: url(/Assets/images/font/NewYork\ PERSONAL\ USE.otf);
}

$p-font: 'proxima-nova';
$display-font : NewYork;
