
/////////////////// COULEURS ///////////////////////

$black : #171717;
$white : #EDEDED;


///////////////MARGIN///////////////////////////

$wrapper: 128px;

///////////////TEXT///////////////////////////

$p-font : 'proxima-nova';